{% extends "layout.html" %}

{% block content %}
  <h3>Beginners' Page</h3>
  <p>Welcome to the landing page for Vyxal beginners! This resource is intended to guide you from your very first encounter with Vyxal to a point where you can practice solving problems, self-study, and seek help through other channels.</p>
  <ul class="collapsible expandable">
    <li id="further-resources">
      <div class="collapsible-header"><b>Further Resources</b></div>
      <div class="collapsible-body">
        <span><a href="#further-resources"><i class="material-icons">link</i></a></span><br />
        <p>Congratulations! You've reached the end of the beginners' tutorial page. Hopefully, you should have a decent idea of what to expect going forward and the fundamentals of Vyxal's structure and functionality. At this point, practice and experience is the best teacher - you can only learn so much by reading. You can also try hand at solving harder problems on <a href="https://codegolf.stackexchange.com/">Code Golf Stack Exchange</a>. If you have any questions, feel free to ask in the <a href="https://chat.stackexchange.com/transcript/106764/vyxal">Vyxal chat room</a>.</p>
      </div>
    </li>
  </ul>
{% endblock %}

{% block tail %}
  <script src="/static/multi-collapse.js"></script>
{% endblock %}
