{% extends "layout.html" %}

{% block content %}
  <h3>Resource List</h3>
  <ul class="larger-text">
    <li><a href="/beginners">Beginners' Page</a></li>
    <li><a href="https://chat.stackexchange.com/transcript/106764/vyxal">Vyxal</a> (Stack Exchange chat room)</li>
    <li><a href="/misc/string-compressor">String Compression Tool</a></li>
    <li><a href="/misc/integer-compressor">Integer Compression Tool</a></li>
    <li><a href="https://lyxal.pythonanywhere.com">Lyxal's Online Vyxal Interpreter</a></li>
    <li><a href="/tio">Try Vyxal online here</a></li>
  </ul>
{% endblock %}
